body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .hero {
            position: relative;
        }

        .hero h1 {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            color: white;
        	font-size: 50px;
            font-family: serif;
        }

        video {
            width: 100%;
            height: auto;
            display: block;
        }
 nav {
      background-color: transparent;
      position: fixed;
      top: 5%;
      z-index: 1000;
      transition: background-color 0.3s ease;
      left: 17%;
      font-size: 20px;
      color: white;
      font-family: 'Dhurjati', sans-serif;
    }

@media (max-width: 768px) {
    .hero {
        flex: 1;
        min-width: calc(100% - 20px); 
        margin: 50px 0;
        margin-left: 20px;
    }
}
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      color: white;
    }

    li {
      margin: 0 15px;

    }

    a {
      text-decoration: none;

      position: relative;
      transition: color 0.3s ease;
      color: white;
      font-family: sans-serif;
    }

   

    a::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px; 
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff; 
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s ease;
    }

    a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

.logo {
    position: absolute;
    width: 50px;
    height: auto;
    margin-left: 20px; 
    cursor: pointer;
    transform: translate(-50%, -50%);
  
    }